/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CreateRegistrationRequest
import io.swagger.client.model.ListRegistrationsResponse
import io.swagger.client.model.RetrieveRegistrationResponse
import io.swagger.client.model.UpdateRegistrationRequest
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RegistrationsApi {

  /**
   * 列出系统中存在的所有上下文提供程序注册。
   * 
   * Expected answers:
   *   code 200 : Seq[ListRegistrationsResponse] 
   * 
   * @param limit 限制要检索的注册数量
   * @param offset 跳过一些注册
   * @param options 选项词典
   */
  def 列表注册(limit: Option[Double] = None, offset: Option[Double] = None, options: Option[String] = None): ApiRequest[Seq[ListRegistrationsResponse]] =
    ApiRequest[Seq[ListRegistrationsResponse]](ApiMethods.GET, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/registrations", "application/json  develop ccthAPI")
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("options", options)
      .withSuccessResponse[Seq[ListRegistrationsResponse]](200)
        /**
   * 创建新的上下文提供程序注册。这通常用于绑定某些数据的上下文源as提供程序。注册由JSON对象表示，如本节开头所述。\\ nResponse： *成功的操作使用201 Created  *错误使用非2xx和(可选)错误有效负载。有关更多详细信息，请参阅\\“错误响应\\”小节。
   * 
   * Expected answers:
   *   code 201 :  
   * 
   * @param contentType 
   * @param body 
   */
  def 创建注册(contentType: String, body: CreateRegistrationRequest): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/registrations", "application/json  develop ccthAPI")
      .withBody(body)
      .withHeaderParam("Content-Type", contentType)
      .withSuccessResponse[Unit](201)
        /**
   * 取消上下文provider registration。Response： *成功的操作使用204 No Content  *错误使用非2xx和(可选)错误有效负载。有关更多详细信息，请参阅“错误响应”部分。
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param registrationId 注册ID
   */
  def 删除注册(registrationId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/registrations/{registrationId}", "application/json  develop ccthAPI")
      .withPathParam("registrationId", registrationId)
      .withSuccessResponse[Unit](204)
        /**
   * 只有请求中包含的字段才会在注册中更新。Response： *成功的操作使用204 No Content  *错误使用非2xx和(可选)错误有效负载。请参阅第\\“错误回应\\” 更多细节。
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param registrationId 注册ID
   * @param contentType 
   * @param body 
   */
  def 更新注册(registrationId: String, contentType: String, body: UpdateRegistrationRequest): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/registrations/{registrationId}", "application/json  develop ccthAPI")
      .withBody(body)
      .withPathParam("registrationId", registrationId)
      .withHeaderParam("Content-Type", contentType)
      .withSuccessResponse[Unit](204)
        /**
   * 响应是由JSON对象表示的注册，如本节开头所述。Response： *成功的操作使用200 OK  *错误使用非2xx和(可选)错误有效载荷。有关详细信息，请参阅\\“错误响应\\”小节。
   * 
   * Expected answers:
   *   code 200 : RetrieveRegistrationResponse 
   * 
   * @param registrationId 注册ID。
   */
  def 检索注册(registrationId: String): ApiRequest[RetrieveRegistrationResponse] =
    ApiRequest[RetrieveRegistrationResponse](ApiMethods.GET, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/registrations/{registrationId}", "application/json  develop ccthAPI")
      .withPathParam("registrationId", registrationId)
      .withSuccessResponse[RetrieveRegistrationResponse](200)
      

}

