/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CreateSubscriptionRequest
import io.swagger.client.model.ListSubscriptionsResponse
import io.swagger.client.model.UpdateSubscriptionRequest
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object SubscriptionsApi {

  /**
   * 响应是由JSON对象表示的订阅，如本节开头所述。Response： *成功的操作使用200 OK  *错误使用非2xx和(可选)错误有效载荷。有关详细信息，请参阅\\“错误响应\\”小节。
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param subscriptionId subscription Id.
   */
  def retrieve Subscription(subscriptionId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/subscriptions/{subscriptionId}", "application/json  develop ccthAPI")
      .withPathParam("subscriptionId", subscriptionId)
      .withSuccessResponse[Any](200)
        /**
   * 返回系统中存在的所有订阅的列表。Response： *成功的操作使用200 OK  *错误使用非2xx和(可选)错误有效负载。请参阅”错误响应\\“更多细节。
   * 
   * Expected answers:
   *   code 200 : Seq[ListSubscriptionsResponse] 
   * 
   * @param limit 限制要检索的订阅数
   * @param offset 跳过一些订阅
   * @param options 选项词典
   */
  def 列表订阅(limit: Option[Double] = None, offset: Option[Double] = None, options: Option[String] = None): ApiRequest[Seq[ListSubscriptionsResponse]] =
    ApiRequest[Seq[ListSubscriptionsResponse]](ApiMethods.GET, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/subscriptions", "application/json  develop ccthAPI")
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("options", options)
      .withSuccessResponse[Seq[ListSubscriptionsResponse]](200)
        /**
   * 创建新订阅。订阅由JSON对象表示，如本节开头所述。Response： *成功操作使用201 Created  *错误使用非2xx和(可选)错误有效负载。有关更多详细信息，请参阅\\“错误响应\\”小节。
   * 
   * Expected answers:
   *   code 201 :  
   * 
   * @param contentType 
   * @param body 
   */
  def 创建订阅(contentType: String, body: CreateSubscriptionRequest): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/subscriptions", "application/json  develop ccthAPI")
      .withBody(body)
      .withHeaderParam("Content-Type", contentType)
      .withSuccessResponse[Unit](201)
        /**
   * 取消订阅。Response： *成功的操作使用204 No Content  *错误使用非2xx和(可选)错误有效负载。请参阅\\”错误响应\\“的小节  more细节。
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param subscriptionId subscription Id.
   */
  def 删除订阅(subscriptionId: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/subscriptions/{subscriptionId}", "application/json  develop ccthAPI")
      .withPathParam("subscriptionId", subscriptionId)
      .withSuccessResponse[Unit](204)
        /**
   * 只有请求中包含的字段在订阅中更新。响应： *成功操作使用204无内容 *错误使用非2xx和(可选)错误有效负载。请参阅小节\\“错误回应\\” 更多细节。
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param subscriptionId subscription Id.
   * @param contentType 
   * @param body 
   */
  def 更新订阅(subscriptionId: String, contentType: String, body: UpdateSubscriptionRequest): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/subscriptions/{subscriptionId}", "application/json  develop ccthAPI")
      .withBody(body)
      .withPathParam("subscriptionId", subscriptionId)
      .withHeaderParam("Content-Type", contentType)
      .withSuccessResponse[Unit](204)
      

}

