/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ListEntityTypesResponse
import io.swagger.client.model.RetrieveEntityTypeResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object TypesApi {

  /**
   * 如果&#x60;values&#x60;选项未被使用，则此操作返回具有实体类型的JSON数组。每个元素是一个JSON对象，其中包含有关类型的信息： *&#x60;type&#x60;：实体类型name。 *&#x60;attrs&#x60;：属性名称集以及此类型的所有实体，在a JSON对象中表示，其对象的键是属性名称，其值包含此类属性的信息(特别是列表)具有该名称的属性使用的类型以及所有个实体)。 *&#x60;count&#x60;：属于该类型的实体数。如果使用&#x60;values&#x60;选项，则操作返回JSON数组使用实体类型names作为字符串列表。\\ nResults按字母顺序按实体&#x60;type&#x60;排序。响应代码： *成功操作使用200 OK  *错误使用非2xx和(可选)错误有效载荷。有关详细信息，请参阅\\“错误响应\\”小节。
   * 
   * Expected answers:
   *   code 200 : Seq[ListEntityTypesResponse] 
   * 
   * @param limit 限制要检索的类型数量。
   * @param offset 跳过一些记录。
   * @param options 选项词典
   */
  def 列出实体类型(limit: Option[Double] = None, offset: Option[Double] = None, options: Option[String] = None): ApiRequest[Seq[ListEntityTypesResponse]] =
    ApiRequest[Seq[ListEntityTypesResponse]](ApiMethods.GET, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/types/", "application/json  develop ccthAPI")
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("options", options)
      .withSuccessResponse[Seq[ListEntityTypesResponse]](200)
        /**
   * 此操作返回一个JSON对象，其中包含有关类型的信息： *&#x60;attrs&#x60;：属性名称集以及此类型的所有实体，在a JSON对象中表示，其键是属性名称其值包含此类属性的信息(特别是具有该名称的属性与所有实体一起使用的类型列表)。 *&#x60;count&#x60;：属于该类型的实体数。 nResponse代码： *成功的操作使用200 OK  *错误使用非2xx和(可选)错误有效负载。有关更多详细信息，请参阅\\“错误响应\\”小节。
   * 
   * Expected answers:
   *   code 200 : RetrieveEntityTypeResponse 
   * 
   * @param entityType 实体类型
   */
  def 检索实体类型(entityType: String): ApiRequest[RetrieveEntityTypeResponse] =
    ApiRequest[RetrieveEntityTypeResponse](ApiMethods.GET, "https://virtserver.swaggerhub.com/ten2net/NGSI/1.0.0", "/v2/types/{entityType}", "application/json  develop ccthAPI")
      .withPathParam("entityType", entityType)
      .withSuccessResponse[RetrieveEntityTypeResponse](200)
      

}

